body {
    background-color: aliceblue;
    font-size: 30px;
}

header {
    background-color: whitesmoke;
}

footer {
    background-color: brown;
}

h1 {
    font-size: 4em;
}

h2{
    font-size: 2.5em;
}