nav {
    background-color: steelblue;
    padding: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 15px;
}

nav a:hover {
    color: steelblue;
    background-color: white;  
}


h1 {
    margin: 50px 0;
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
}

img {
    max-width: 1000px;
}


footer {
    background-color: steelblue;
    color: white;
}

footer p {
    padding: 25px;
}
